<section>
    <div>
        <header class="header">
    <nav class="nav-header">
        <svg class="logo" width='130' height='40'>
            <use href= '/images/svg/sprite_svg.svg#icon-logo-var'></use>
        </svg>
        <ul class="nav-header_list">
            <li class="nav-header_item">How it Works</li>
            <li class="nav-header_item">Features</li>
            <li class="nav-header_item">Pricing</li>
            <li class="nav-header_item">Help</li>
      
             <button type="button" data-modal-open-log>Log In</button>   
            </li>
        </ul>
      
        </button>
    </nav>
</header>
    </div>
</section>